.Card
{
  max-width: 33%;
  /*width: 33%;*/
  border: 2px solid gold;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: gold;
  display: inline-block;
}

.card-body
{
  height: 400px;
}

.card-title
{
  height: 50px;
}

.image-container
{
  height: 200px;
}

.card-img-top
{
    border: 2px solid gold;
    padding: 5px;
    width: auto;
    height: 100%;
    width: 100%;
    background-color: gold;
}

.btn
{
  margin-top: 10px;
  width: 90%;
  background-color: gold;
  color: black;
}